:root {
  --link-color: #83888f;
  --link-hover-color: #333d4b;
  --coffe-title-color: #fefcf7;
  --coffe-btn-bgcolor: #66d2cf;
  --coffe-btn-color: #fefcf7;
  --package-h4-p-color: #333d4b;
  --benefits-bg-color: #2c343e;
  --benefits-color: #fefcf7;
  --benefits-cards-bgcolor: #0e8784;
  --process-title-color: #83888f;
  --process-subtitle-text-color: #333d4b;
  --footer-bg-color: #2c343e;
  --footer-links-color: #83888f;
  --footer-links-color-hover: #fefcf7;

  --about-title-color:#FEFCF7;
  --about-text-color:#FEFCF7;
}

$responsibility-title-text-color: #333D4B;
$subscribe-sub-process-bg-color:#2C343E;
$sub-process-text-title-color:#FEFCF7;
$types-nav-text-color: #333D4B;
$types-cards-bg-color: #F4F1EB;
$types-cards-hover-bg-color: #0E8784;
$types-cards-active-bg-color: #FDD6BA;
$types-cards-hover-color:#ffffff;
$types-box-bg-color:#2C343E;