.about-us {
  background-image: url(/img/about-picture.png);
  background-position: top;
  background-repeat: no-repeat;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  

  &__box {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 53%;

    h2 {
      color: var(--about-title-color);
      @extend %title;
      padding-bottom: 24px;
    }
    p {
      color: var(--about-text-color);
      @extend %text;
     
    }
  }
}

@media only screen and (max-width: 1172px){
  .about-us{
    padding: 0 6%;
    &__box{
      width: 50%;
    }
  }
}
@media only screen and (max-width: 908px){
  .about-us{
    &__box{

      h2{
        font-size: 30px;
      }

      p{
        font-size: 13px;
      }
    }
  }
}

@media only screen and (max-width: 737px){
  .about-us{

    &__box{
      width: 55%;
      p{
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 563px){
  .about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__box{
      width: 90%; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 0;

    }
  }
}

@media only screen and (max-width: 356px){
  .about-us{
    &__box{
      p{
        font-size: 11px;
      }
    }
  }
}